body{

     
      /*line-height: 1.5em;
       text-align: left;*/
      background-color: #000000;  
     
    }
  .main {
  width: 100%;
  height: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px;
  /*background-color: #000000;*/
      
}
#container{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 0px;
  margin-left: 20px;


  padding: 10px;
  width:72%;
  /*background-color: #ffffff;*/
  text-align: right;
  float: left;
}

  .text1{
  margin-top: 40px;
  margin-bottom: 10px;
  margin-right: 35px;
  margin-left: 0px;
  padding: 10px;
  /*background-color: #52667a;*/

  height:400px;
  width:260px;
  float: right;
 
  /*text-align: right;*/
}

 p{

  font-family: Avenir;
  font-size: 12px;
 
  text-align: justify;
  color:#867979;
  opacity: 100%;
    }


    /* h1 {

      text-align:center;
      color:#ffffff;
      font-size: 10px;
      
      font-weight: regular;
    }*/


 
