body{

     
      /*line-height: 1.5em;
       text-align: left;*/
      background-color: #000000;  
     
    }
  .main {
  width: 100%;
  height: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px;
  /*background-color: #000000;*/
      
}
#container{
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px;
 width:60%;
  /*background-color: #ffffff;*/
  text-align: left;
  float: left;
}

.chart-container{
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px;

  /*background-color: #ffffff;*/
  text-align: left;
  float: left;
}

  .text1{
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 30px;
  margin-left: 0px;
  padding: 0px;
  text-align: left;
 
  border-style:solid;



  height:500px;
  width:160px;
  float: right;
 
  /*text-align: right;*/
}

 p{

  font-family: Avenir;
  font-size: 11px;
 color:#ffffff;
  /*text-align: justify;*/
  color:#867979;
  opacity: 100%;
    }


    /* h1 {

      text-align:center;
      color:#ffffff;
      font-size: 10px;
      
      font-weight: regular;
    }*/


 
